$textColor = #444

html {
  background-color: #FFCD19;
  color: #333;
}

body {
  font-family: "Source Sans Pro", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
  background-color: #FFCD19;
  color: #333;
}

.main-title, .description {
  font-family: "Source Sans Pro", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
}

.home .hero .description {
  color: #333;
}
