:root {
  --c-brand: #ffad33;
  --c-brand-light: #ffcf33;
}

.link {
  color: var(--c-brand);
}

.link:hover {
  color: var(--c-brand-light);
}

.button {
  background-color: var(--c-brand);
  border: 1px solid var(--c-brand);
  @apply inline-block text-white
    transition-all duration-150 ease-in
    font-semibold
    px-1 py-2 rounded-2xl box-border;
}

.white {
  background-color: white;
  color: var(--c-brand);
}
